<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Nova Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input [(ngModel)]="travel.description" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prioridade</ion-label>
      <ion-select name="type" [(ngModel)]="travel.type" required>
        <ion-select-option value="high">Alta</ion-select-option>
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="low">Baixa</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Estado - To Do</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Início</ion-label>
      <ion-datetime presentation="date" [(ngModel)]="travel.startAt"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Fim</ion-label>
      <ion-datetime presentation="date" [(ngModel)]="travel.endAt"></ion-datetime>
    </ion-item>

  </ion-list>




  <ion-button expand="block" (click)="saveTravel()" class="ion-margin-top" color="primary">
    Guardar Viagem
  </ion-button>
</ion-content>
  