<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">TwinTravels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/twintravels_1.webp" alt="Logo" style="width: 30%; margin-top: 3rem;" />

  <div class="center-button">
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button routerLink="/travels-list" style="--background: white;">
          <span class="material-symbols-outlined" style="color: black;">arrow_right_alt</span>
        </ion-fab-button>
      </ion-fab>
  </div>
</ion-content>
